<h1>Genres</h1>
<ul>
  <% @genres.each do |genre| %>
    <% next if genre.name == "meta" %>
    <% page = genre.most_recent_page %>
    <ul>
      <li><%= genre.name %></li>
      <li><a href="<%= page_url(page.id) %>"><%= page.title %></a></li>
    </ul>
  <% end %>
</ul>
