<form id="new-user-form">
  <label for="username">Genius Nickname</label>
  <input type="input" name="user[username]" id="username">
  <p id="username-error"></p>

  <label for="email">Email</label>
  <input type="input" name="user[email]">
  <p id="email-error"></p>

  <label for="password">Password</label>
  <input type="password" name="user[password]">
  <p id="password-error"></p>

  <p>
    By clicking "Create Account", you are indicating that
    you have read and agree to the Terms of Service.
  </p>

  <button type="submit">Create Account</button>
</form>
