<h1>SIGN UP</h1>
<h2>and show off your genius</h2>
<a id="sign-up-email" class="sign-up-email">Sign up with email</a>
<small class="sign-in">Already have an account? <a href="#">Sign in here.</a></small>
