<h1>SIGN UP</h1>
<h2>and show off your idiocy</h2>
<a id="sign-up-email" class="sign-up-email">Sign up with email</a>
<span id="sign-up-form"></span>
<small class="sign-in">Already have an account? <a class="new-session" href="#">Sign in here.</a></small>
