<ul class="errors">
</ul>
<form id="annotation-form">
  <label for="content"></label>
  <% if (isNew) {%>
    <input type="hidden" name="annotation[start_index]" value="<%= startIndex %>">
    <input type="hidden" name="annotation[end_index]" value="<%= endIndex %>">
    <input type="hidden" name="annotation[page_id]" value="<%= pageId %>">
  <% } %>
  <textarea id="content" class="annotation-content" name="annotation[content]" placeholder="Say something interesting"><%= annotation.escape("content") %> </textarea>

  <button type="submit" id="submit-annotation">Save</button>
</form>
