<ul class="errors">
</ul>
<form>
  <label for="content"></label>
  <input type="hidden" name="annotation[start_index]" value="<%= startIndex %>">
  <input type="hidden" name="annotation[end_index]" value="<%= endIndex %>">
  <input type="hidden" name="annotation[page_id]" value="<%= pageId %>">
  <textarea id="content" name="annotation[content]" placeholder="Say something interesting"></textarea>

  <button type="submit">Save</button>
</form>
