<% if (isDescription) { %>
  <a href="#">Description</a>
<%} else {%>
  <a href="#">Genius Annotation</a>
<% } %>
<p>
  <%= annotation.escape("content") %>
</p>
<a class="edit">propose an edit</a>
<a id="annotation-replies">Reply</a>
<span id="annotation-improvements"></span>
