<h3>Add an Artist</h3>
<label for="artist-name">Name</label>
<input type="text" name="artist[name]" id="artist-name">
<span id="artist-name-errors"></span>
<button type="submit" id="create-artist">Create Artist</button>
