<h3>Add an Artist</h3>
<label for="artist-name">Name</label>
<input type="text" name="artist[name]" id="artist-name">
<p id="artist-name-errors" class="error"></p>
<button type="submit" id="create-artist">Create Artist</button>
