<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="username">Genius Nickname</label>
  <input type="input" name="user[username]" id="username">

  <label for="email">Email</label>
  <input type="input" name="user[email]">

  <label for="password">Password</label>
  <input type="password" name="user[password]">

  <p>
    By clicking "Create Account", you are indicating that
    you have read and agree to the Terms of Service.
  </p>

  <button type="submit">Create Account</button>
</form>
