<h3>Add a Collection</h3>
<label for="collection-name">Name</label>
<input type="text" name="collection[name]" id="collection-name">
<span id="collection-title-errors"></span>
<button type="submit" id="create-collection">Create Collection</button>
