<ul class="annotation-improvements">
  <% improvements.each(function(improvement) {%>
    <li class="annotation-improvement">
      <h9 class="username"><%= improvement.escape("username") %></h9>
      <small class="time"><%= improvement.escape("time_ago_posted") %></small>
      <p><%= improvement.escape("content") %></p>
    </li>
  <% }); %>
</ul>

<form id="new-annotation-improvement">
  <% if (!currentUser.get("logged_in")) {%>
    <label for="annotation-improvement-username"></label>
    <input id="annotation-improvement-username" type="text" name="improvement[username]" placeholder="Your name">
    <p id="username-error"></p>

    <label for="annotation-improvement-email"></label>
    <input id="annotation-improvement-email" type="text" name="improvement[email]" placeholder="Your email address">
    <p id="email-error"></p>

  <% }; %>

  <label for="annotation-improvement-content"></label>
  <textarea name="improvement[content]" id="annotation-improvement-content" placeholder="Suggest an improvement or correction to earn IQ"></textarea>
  <p id="content-error"></p>

  <span id="submit-annotation-improvement"></span>
</form>
