<h1>Genres</h1>
<ul>
  <% genres.each(function (genre) {%>
    <% if (genre.escape("name") === "meta") {return} %>
    <% page = genre.mostRecentPage() %>
    <ul>
      <li><%= genre.escape("name") %></li>
      <li><a href="#pages/<%= page.id %>"><%= page.escape("title") %></a></li>
    </ul>
  <% }); %>
</ul>
