<h1>SIGN IN</h1>
<label for="username">Genius login or email</label>
<input type="text" name="user[username]">
<label for="password">Password</label>
<input type="password" name="user[password]">
<button type="submit">Login</button>
