<h1>SIGN IN</h1>
<form class="new-session-form">
  <label for="username">Genius login or email</label>
  <input type="text" name="user[username]">
  <label for="password">Password</label>
  <input type="password" name="user[password]">
  <button class="login" type="submit">Login</button>
</form>
