<h6>EVERYTHING IN <b><%= genre.escape("name").toUpperCase() %> GENIUS</b></h6>
<ul>
  <% pages.each(function (page) { %>

  <li class="page-item"><a href="#pages/<%= page.id %>">
    <h3><%= page.escape("title") %></h3>
  </a></li>
  <% }); %>
</ul>
