<h1><%= page.escape("title") %></h1>
<h3><%= page.artist().escape("name") %>
<span class="group">
  <article class="page-text">
    <p class="text-content">
      <%= page.escape("text") %>
    </p>
  </article>
  <article class="page-annotations">
  </article>
</span>
