<h1 class="title"><%= page.escape("title") %></h1>
<a class="artist" href="#artists/<%= page.artist().id %>"><%= page.artist().escape("name") %></a>

<span class="group">
  <article class="page-text">
    <p class="text-content"><%= page.escape("text") %></p>
    <content id="page-improvements"></content>
  </article>
  <article class="page-annotations">
  </article>
</span>
