/*
 *= require_tree .
 *= require_self
 */

h1, h2, h3, h4, h6, p, a, ul, li, nav, form, input, label, button, pre, b {
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;

  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

input[type="radio"] {
  visibility: hidden;
  display: none;
}

ul {
  list-style: none;
}

form {
  -webkit-appearance: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

::selection {
  background: rgba(159, 159, 159, 0.9);
}

::-moz-selection {
  background: rgba(159, 159, 159, 0.9);
}

body {
  background: black;
  color: rgb(170, 170, 170);
  position: relative;
  font-family: sans-serif;
  width: 1100px;
  margin: auto;
  padding-top: 10px;
}

a, button {
  cursor: pointer;
}

input, textarea {
  background: rgb(51, 51, 51);
}

input, textarea, label {
  display: block;
}

/* Header */
nav {
  background: rgb(21, 21, 21);
}

nav.header-1 {
  margin-bottom: 5px;
}

nav ul.nav-links {
  display: inline;
  float: left;
}

nav ul.nav-links li {
  position: relative;
  display: inline;
  float: left;
}

nav ul.nav-links li + li:before {
  content: "";
  position: absolute;
  display: block;
  left: -7px;
  top: 7px;
  width: 3px;
  height: 3px;
  border-radius: 10px;
  padding: 0px;
  background: rgb(85, 85, 85);
}

nav ul.nav-links a:hover {
  color: rgb(255, 195, 28);
}

nav ul.nav-user {
  display: inline;
  float: right;
}

nav ul.nav-user li{
  display: inline;
  float: left;
}

nav ul.nav-no-user {
  display: inline;
  float: right;
}

nav ul.nav-no-user li{
  display: inline;
  float: left;
}

nav ul.nav-no-user li{
  position: relative;
  color: rgb(204, 204, 204)
}

nav ul.nav-no-user li + li:before{
  content: "";
  position: absolute;
  display: block;
  left: -8px;
  top: 7px;
  width: 4px;
  height: 4px;
  border-radius: 10px;
  padding: 0px;
  background: rgb(204, 204, 204)
}

nav ul.nav-no-user a:hover{
  color: rgb(91, 167, 194)
}

nav.header-2 {
  position: relative;
  border-top: 1px solid rgb(85, 85, 85);
  border-bottom: 1px solid rgb(85, 85, 85);
}

nav a.logo {
  color: rgb(255, 195, 28);
  font-size: 32px;
  float: left;
  top: 50%;
  -webkit-transform: translateY(20%);
}

nav ul.header-actions {
  float: right;
}

nav ul.header-actions > li {
  float:left;
}

nav input.search {
  width: 383px;
  border: 1px solid rgb(85, 85, 85);
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}

nav li.search-bar {
  top: 50%;
  border-right: 1px solid rgb(51, 51, 51);
  padding: 10px;
}

nav a.create-page {
  top: 50%;
  -webkit-transform: translateY(4%);
  display: block;
  padding: 15px;
  border-right: 1px solid rgb(51, 51, 51);
}

nav a.create-page:hover {
  background: rgb(34, 34, 34);
}

ul.search-results {
  position: absolute;
  height: 500px;
  width: 300px;
  overflow: hidden;
}

ul.search-results a {
  background: rgb(33, 33, 33);
  display: block;
  padding: 5px 5px 5px 5px;
  box-sizing: border-box;
  -webkit-transition: background .25s;
}

ul.search-results li:nth-child(even) a {
  background: rgb(20, 20, 20);
}


ul.search-results a:hover, ul.search-results li:nth-child(even) a:hover  {
  background: rgb(71, 71, 71);
}

/* Pages Index */

span.pages-index h6 {
  font-size: 12px;
  padding-top: 25px;
  padding-bottom: 14px;
  display: block;
}

span.pages-index h6 b {
  color: rgb(237, 232, 233);
}

li.page-item {
  width: 1000px;
  border-top: 1px solid rgb(30, 30, 30);
  border-bottom: 1px solid rgb(30, 30, 30);
  padding: 15px 0;
  -webkit-transition: border .25s, padding .25s;
}

li.page-item:hover {
  padding-left: 10px;
  border-left: 3px solid rgb(255, 195, 28);
}

li.page-item:hover h4{
  color: rgb(237, 232, 233);
}

li.page-item h3 {
  color: rgb(237, 232, 233);
  padding-bottom: 5px;
}

li.page-item h4 {
  -webkit-transition: color .25s;
}
/* Page Show */

span.info-bar {
  position: absolute;
  width: 100%;
}

span.info-bar * {
  position: absolute;
  z-index: 3;
}

span.image-bar {
  position: absolute;
  width: 100%;
  height: 273px;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
}

.texture {
  display: block;
  position: absolute;
  background-image: image-url("box.png");
  opacity: .5;
  width: 100%;
  height: 100%;
}

img.photo-main {
  top:0;
  left:0;
  width:100%;
  height: auto;
  opacity: 1;
}

h1.title {
  font-size: 36px;
  font-weight: bold;
  background: rgb(255, 195, 28);
  display: inline-block;
  color: black;
  padding: 10px;
  margin-top: 154px;
}

a.artist {
  display: block;
  font-size: 32px;
  color: white;
  margin-top: 216px;
  background: rgba(20, 20, 20, .6);
  padding: 10px;
}

a.edit-photo {
  position: absolute;
  z-index: 2;
  right: 0;
  background: rgba(20, 20, 20, .7);
  border-left: 1px solid rgba(85, 85, 85, .7);
  border-bottom: 1px solid rgba(85, 85, 85, .7);
  display: block;
  padding: 5px;
  -webkit-transition: background .25s, color .25s;
}

a.edit-photo:hover {
  background: rgb(51, 51, 51);
  color: rgb(253, 193, 28);

}

span.page-content {
  display: block;
  padding-top: 275px;
}

article.page-text {
  width: 620px;
  float: left;
}

p.text-content {
  white-space: pre-wrap;
  color: rgb(204, 204, 204);
  padding-bottom: 75px;
}

article.page-annotations {
  width: 425px;
  float: left;
  color: rgb(204, 204, 204);
}

a.annotation {
  background: rgb(52, 52, 52);
  color: rgb(238, 238, 238);
}

a.annotation:hover {
  background: rgb(255, 195, 28);
  color: black;
}

/* Annotation Creation */

a.new-annotation {
  color: rgb(254, 194, 27);
  padding: 10px 100px;
  background: rgb(33, 33, 33);
  border: 1px solid rgb(84, 84, 84);
  border-radius: 3px;
  font-size: 13px;
}

a.new-annotation:hover {
  background: rgb(40, 40, 40);
}

textarea.annotation-content {
  width: 400px;
  height: 200px;
  color: rgb(169, 169, 169);
  resize: none;
  font-size: 16px;
}

button.submit-annotation {
  padding: 5px;
  color: rgb(204, 204, 204);
  font-size: 13px;
  background: rgb(38, 38, 38);
  border: 1px solid rgb(68, 68, 68);
  border-radius: 3px;
}

button.submit-annotation:hover {
  background: rgb(51, 51, 51);
}


/* Page Improvement Creation */

span.page-improvement-partial {
  display: block;
  width: 570px;
  background: rgb(32, 32, 32);
  padding: 10px;
  margin-bottom: 30px;
}

li.page-improvement {
  border-bottom: 1px solid rgb(54, 54, 54);
  padding: 15px 20px;
  font-size: 12px;
}

li.page-improvement p {
  color: rgb(204, 204, 204);
}

li.page-improvement h9.username {
  color: rgb(254, 254, 254);
  font-size: 12px;
  padding-bottom: 20px;
  display: inline-block;
}

li.page-improvement small.time {
  float: right;
}

span.page-improvement-partial input {
  display: inline;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgb(119, 119, 119);
  width: 260px;
  padding: 5px;
}

span.page-improvement-partial input:focus {
  border: 1px solid rgb(136, 107, 29);
  box-shadow: 0px 0px 7px rgb(136, 107, 29), inset 0px 0px 2px rgb(136, 107, 29);
}

span.page-improvement-partial textarea {
  width: 560px;
  height: 98px;
  border: 1px solid rgb(83, 83, 83);
  font-size: 18px;
  outline: none;
}

#submit-page-improvement a {
  color: rgb(88, 162, 189);
}

#submit-page-improvement a:hover {
  color: rgb(165, 207, 222);
}

#submit-page-improvement button {
  background: rgb(38, 38, 38);
  margin-top: 5px;
  padding: 5px 10px;
  margin-right: 5px;
  border: 1px solid rgb(68, 68, 68);
  border-radius: 5px;
  font-size: 14px;
  color: rgb(204, 204, 204);
}

#submit-page-improvement small, #submit-page-improvement a {
  font-size: 12px;
}

/* Annotation Improvement Creation */

span.annotation-improvement-partial {
  display: block;
  width: 100%;
  background: rgb(32, 32, 32);
  padding: 10px;
}

li.annotation-improvement {
  border-bottom: 1px solid rgb(54, 54, 54);
  padding: 15px 20px;
  font-size: 12px;
}

li.annotation-improvement p {
  color: rgb(204, 204, 204);
}

li.annotation-improvement h9.username {
  color: rgb(254, 254, 254);
  font-size: 12px;
  padding-bottom: 20px;
  display: inline-block;
}

li.annotation-improvement small.time {
  float: right;
}

span.annotation-improvement-partial input {
  display: inline;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgb(119, 119, 119);
  width: 180px;
  padding: 5px;
}

span.annotation-improvement-partial input:focus {
  border: 1px solid rgb(136, 107, 29);
  box-shadow: 0px 0px 7px rgb(136, 107, 29), inset 0px 0px 2px rgb(136, 107, 29);
}

span.annotation-improvement-partial textarea {
  width: 390px;
  height: 98px;
  border: 1px solid rgb(83, 83, 83);
  font-size: 18px;
  outline: none;
}

#submit-annotation-improvement a {
  color: rgb(88, 162, 189);
}

#submit-annotation-improvement a:hover {
  color: rgb(165, 207, 222);
}

#submit-annotation-improvement button {
  background: rgb(38, 38, 38);
  padding: 5px 10px;
  margin-right: 5px;
  border: 1px solid rgb(68, 68, 68);
  border-radius: 5px;
  font-size: 14px;
  color: rgb(204, 204, 204);
}

#submit-annotation-improvement small, #submit-annotation-improvement a {
  font-size: 12px;
}

/* Page New */
form.new-page-form {
  padding-top: 25px;
}

.new-page-form h3 {
  color: white;
  font-size: 32px;
  padding-bottom: 20px;
}

.new-page-form small {
  font-size: 12px;
  color: rgb(98, 98, 98);
  padding-bottom: 10px;
  display: block;
}

.new-page-form input {
  width: 388px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 2px;
  padding: 5px;
  background: white;
  font-size: 14px;
  color: black;
}

.new-page-form label {
  color: white;
  font-weight: bold;
  margin-top: 25px;
}

span.genre-buttons {
  display: block;
}

label.genre-radio {
  border: 1px solid rgb(153, 153, 153);
  padding: 5px;
  color: white;
  display: inline-block;
  cursor: pointer;
  font-weight: normal;
  font-size: 14px;
}

label.genre-radio:hover {
  background: rgb(48, 47, 47);
}

input[type="radio"]:checked + label.genre-radio {
  background: rgb(237, 232, 233);
  color: black;
}

.new-page-form span.main-inputs:after {
  content: "";
  width: 100%;
  height: 1px;
  background: rgb(48, 48, 48);
}

span.artist, span.title {
  display: block;
  width: 400px;
  float: left;
  margin-bottom: 10px;
}

span.artist {
  margin-right: 20px;
}

.new-page-form textarea {
  width: 100%;
  height: 490px;
  background: white;
}

.new-page-form button {
  background: rgb(38, 38, 38);
  color: rgb(204, 204, 204);
  padding: 5px 10px;
  border-radius: 2px;
  border: 1px solid rgb(68, 68, 68);
  font-size: 14px;
  margin-top: 25px;
}

.new-page-form button:hover {
  color: rgb(230, 230, 230);
  background: rgb(51, 51, 51);
}

ul.artist-search-results {
  position: absolute;
  height: 500px;
  width: 300px;
  overflow: hidden;
  left: 0px;
  margin-top: 71px;
  display: none;
}

ul.artist-search-results li {
  background: rgb(33, 33, 33);
  display: block;
  padding: 5px 5px 5px 5px;
  box-sizing: border-box;
  -webkit-transition: background .25s;
  cursor: pointer;
}

ul.artist-search-results li:nth-child(even) a {
  background: rgb(20, 20, 20);
}


ul.artist-search-results li:hover, ul.search-results li:nth-child(even) a:hover  {
  background: rgb(71, 71, 71);
}

/* Artist Show */

span.artist-content h1 {
  color: white;
  font-size: 44px;
  display: block;
  border-bottom: 1px solid white;
  padding-top: 15px;
  padding-bottom: 10px;
}

span.artist-content h2 {
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding-top: 25px;
  padding-bottom: 10px;
}

span.artist-songs {
  width: 560px;
  float: left;
}

span.artist-songs li {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
}

span.artist-info {
  width: 400px;
  float: right;
  margin-top: 50px;
}

img.artist-photo {
  display: block;
  width: 300px;
  height: auto;
}

span.artist-info a.edit-photo {
  right: 100px;
}

span.artist-info p.biography {
  white-space: pre-wrap;
}
