/* Artist New */

form.artist-new {
  display: block;
  text-align: center;
}

form.artist-new h3 {
  color: rgb(255, 195, 28);
  font-size: 48px;
  padding-top: 30px;
}

form.artist-new label {
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 5px;
  color: white;
}

form.artist-new input {
  margin: auto;
  padding: 5px;
  border: 1px solid rgb(85, 85, 85);
  -webkit-transition: border .25s;
  margin-bottom: 30px;
}

form.artist-new input:focus {
  border: 1px solid white;
  color: white;
}

form.artist-new button {
  padding: 10px 15px;
  font-size: 18px;
  color: rgb(204, 204, 204);
  background: rgb(38, 38, 38);
  margin: 10px;
  border: 1px solid rgb(68, 68, 68);
  border-radius: 2px;
  -webkit-transition: color .2s, background .2s;
}

form.artist-new button:hover {
  color: rgb(230, 230, 230);
  background: rgb(51, 51, 51);
}

/* Artist Show */

span.artist-content h1 {
  color: white;
  font-size: 44px;
  display: block;
  border-bottom: 1px solid white;
  padding-top: 15px;
  padding-bottom: 10px;
}

span.artist-content h2 {
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding-top: 25px;
  padding-bottom: 10px;
}

span.artist-songs {
  width: 560px;
  float: left;
}

span.artist-songs li {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
}

span.artist-info {
  width: 400px;
  float: right;
  margin-top: 50px;
}

img.artist-photo {
  display: block;
  width: 300px;
  height: auto;
}

span.artist-info a.edit-photo {
  right: 100px;
}

span.artist-info p.biography {
  white-space: pre-wrap;
  padding-right: 10px;
}

textarea.edit-biography {
  width: 100%;
  color: rgb(170, 170, 170);
  font-size: 16px;
}

h3.artist-collections {
  margin-top: 15px;
  color: white;
  font-size: 16px;
  padding: 10px 0;
}

ul.artist-collections li {
  border-top: 1px solid rgb(30, 30, 30);
}

ul.artist-collections li a {
  display: block;
  padding: 5px 0;
  color: rgb(91, 167, 194);
}

ul.artist-collections li a:hover {
  color: white;
}

span.artist-info a.new-collection {

}
