/* Collection Show */
span.collection-header {
  display: block;
}

span.collection-header-info {
  float: left;
  width: 900px;
}

span.collection-header h1 {
  font-size: 32px;
  font-weight: bold;
  color: white;
  padding-top: 30px;
  display: inline-block;
}

span.collection-header h2 {
  font-size: 32px;
  color: rgb(170, 170, 170);
  display: inline-block;
}

span.collection-header h3 {
  font-size: 26px;
  color: rgb(170, 170, 170);
  display: block;
  padding-bottom: 20px;
}

span.collection-header-delete {
  float: right;
  margin-top: 40px;
}

button.delete {
  -webkit-transition: background .5s;
}

.active {
  background: rgb(227, 34, 46);
}

button.delete.active:hover {
  background: rgb(195, 0, 13);
}

span.collection-info {
  width: 400px;
  display: block;
  float: left;
}

span.collection-info img {
  width: 300px;
  height: auto;
  border: 1px solid rgb(85, 85, 85);
}

span.collection-info a.edit-photo {
  left: 210px;
  width: 80px;
}

span.collection-info form.update-photo {
  left: 0px;
  width: 300px;
  overflow: hidden;
}

span.collection-info form.update-photo button {
  float: left;
  border-left: 0;
  border-right: 1px solid rgba(85, 85, 85, 0.7);
}

span.collection-items {
  width: 610px;
  float: left;
  display: block;
}

span.collection-items li {
  border-top: 1px solid rgb(30, 30, 30);
}

span.collection-items li a {
  padding: 10px 0;
  display: inline-block;
}

span.collection-items li a * {
  display: inline-block;
}

span.collection-items small.number {
  color: rgb(85, 85, 85);
  padding-right: 5px;
}

input.edit-numbering {
  width: 20px;
  display: inline-block;
}

span.collection-items h4 {
  color: rgb(237, 232, 233);
  border-left: 1px solid rgb(85, 85, 85);
  padding-left: 10px;
}

span.collection-items small.artist {
  -webkit-transition: color .25s;
}

span.collection-items li a:hover small.artist {
  color: rgb(237, 232, 233);
}

input.new-collection-page {
  padding: 5px;
  width: 100%;
}

ul.page-search-results li {
  background: rgb(33, 33, 33);
  display: block;
  padding: 5px 5px 5px 5px;
  box-sizing: border-box;
  -webkit-transition: background .25s;
  cursor: pointer;
}

ul.page-search-results li:nth-child(even) {
  background: rgb(20, 20, 20);
}

ul.page-search-results li:hover, ul.search-results li:nth-child(even):hover  {
  background: rgb(71, 71, 71);
}


/* Collection New */
form.collection-new {
  display: block;
  text-align: center;
}

form.collection-new h3 {
  color: rgb(255, 195, 28);
  font-size: 48px;
  padding-top: 30px;
}

form.collection-new label {
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 5px;
  color: white;
}

form.collection-new input {
  margin: auto;
  padding: 5px;
  border: 1px solid rgb(85, 85, 85);
  -webkit-transition: border .25s;
  margin-bottom: 30px;
}

form.collection-new input:focus {
  border: 1px solid white;
  color: white;
}

form.collection-new button {
  padding: 10px 15px;
  font-size: 18px;
  color: rgb(204, 204, 204);
  background: rgb(38, 38, 38);
  margin: 10px;
  border: 1px solid rgb(68, 68, 68);
  border-radius: 2px;
  -webkit-transition: color .2s, background .2s;
}

form.collection-new button:hover {
  color: rgb(230, 230, 230);
  background: rgb(51, 51, 51);
}
