<nav class="header-1 group">
  <span id="header-form"></span>
  <ul class="nav-links">
    <% genres.each(function (genre) {%>
    <li><a href="#/genres/<%= genre.id %>"><pre><%= genre.escape("name") %>   </pre></a></li>
    <% }); %>
  </ul>
  <% if (!currentUser.get("logged_in")) {%>
  <ul class="nav-no-user">
    <li><a id="new-user"><pre>Sign Up   </pre></a></li>
    <li><a id="new-session"><pre>Sign In</pre></a></li>
  </ul>
  <% } else { %>
  <ul class="nav-user">
    <li><a href="#session/destroy">Log Out</a></li>
  </ul>
  <% } %>
</nav>
<nav class="header-2 group">
  <a href="#" class = "logo">GENIUS</a>
  <ul class="header-actions">
    <li>
      <input id="search" type="text" placeholder="Search">
      <ul id="search-results">
      </ul>
    </li>
    <li><a href="#pages/new">Create</a></li>
  </ul>
</nav>
