<span class="modal-background"><span id="header-form" class="header-form"></span></span>
<nav class="header-1 group">
  <ul class="nav-links">
    <% genres.each(function (genre) {%>
    <li><a href="#/genres/<%= genre.id %>"><pre><%= genre.escape("name").toUpperCase() %>   </pre></a></li>
    <% }); %>
  </ul>
  <% if (!currentUser.get("logged_in")) {%>
  <ul class="nav-no-user">
    <li><a id="new-user"><pre>Sign Up   </pre></a></li>
    <li><a class="new-session"><pre>Sign In</pre></a></li>
  </ul>
  <% } else { %>
  <ul class="nav-user">
    <li><a id="destroy-session">Log Out</a></li>
  </ul>
  <% } %>
</nav>
<nav class="header-2 group">
  <a href="#" class = "logo">GENIUS</a>
  <ul class="header-actions">
    <li class="search-bar">
      <input class="search" id="search" type="text" placeholder="Search">
      <ul class="search-results" id="search-results">
      </ul>
    </li>
    <li><a href="#pages/new" class="create">Create Page</a></li>
    <li><a href="#" class="create" id="new-artist">Create Artist</a></li>
  </ul>
</nav>
